name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk-version: [11, 13, 15]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v1.4.3
        with:
          java-version: ${{ matrix.jdk-version }}

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
